//header
.material-icons {
  vertical-align: middle;
}

.header {
  background-color: $gray-600;

  img {
    width: 174px;
  }

  a {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-link {
    a {
      padding-left: 50px;
    }

    .btn-hover:hover {
      background: linear-gradient(to bottom, $secondary, $primary);
      background-clip: text;
      color: transparent;
    }
  }

  .header-bar,
  .header-rwd {
    display: none;
  }


}

@media(max-width:767px) {
  .header {
    .header-link {
      display: none;
    }

    .header-bar {
      display: block;
    }
  }

}

.header-border {
  display: flex;

  .header-left {
    border-bottom: 2px solid $primary;
    width: 50%;
  }

  .header-right {
    border-bottom: 2px solid $secondary;
    width: 50%;
  }


}



//banner
.bg-banner {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 680px;

  .banner-text {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  .material-symbols-outlined {
    color: $white;
  }

  .banner-linear {
    background: linear-gradient(to bottom, $secondary, $primary);
    background-clip: text;
    color: transparent;
  }

  .bg-gray-800 {
    background-color: $gray-800;
  }
}


@media(max-width:767px) {
  .bg-banner {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_home_mobile.jpg);
    height: 336px;
  }
}

@media(max-width:767px) {
  .bg-banner {
    height: 336px;

    .container {
      margin-right: 7px;
      margin-left: 7px;
    }
  }

  .banner-text {

    h1 {
      font-size: 24px;
    }

    h6 {
      font-size: 14px;
    }
  }
}

//service
.service-content {
  .material-symbols-outlined {
    font-size: 40px;
  }

  a {
    margin: 80px 12px;
    border-radius: 12px;
  }


  .btn-hover {
    &:hover {
      border-radius: 12px;
      border: 1px solid $primary;
      background-color: $gray-900;

      .material-symbols-outlined {
        background: linear-gradient(to bottom, $secondary, $primary);
        background-clip: text;
        color: transparent;
      }
    }

  }


  .border-transparent {
    border: 1px solid transparent;
  }
}

@media(max-width:992px) {
  .service-content {
    a {
      margin: 24px 0;
    }

    h3 {
      text-align: center;
      margin-top: 40px;
      margin-bottom: 24px;
    }
  }
}

//process
.process,
.course,
.share,
.language,
.feedback {
  .process-number {
    margin-left: 40px;
    background-color: $gray-800;
  }

  .subtitle {
    padding-top: 80px;
    padding-bottom: 48px;
  }

  .border-white {
    border: 1px solid #FFF;
  }
}

@media(max-width:992px) {

  .process,
  .course {
    .subtitle {
      padding-top: 40px;
    }

    li {
      margin-bottom: 40px;
    }
  }
}

//course
.course {
  img {
    width: 100px;
    height: 100px;
  }

  .card:hover {
    border: 1px solid $primary;
  }

  button {
    background: linear-gradient(to right, $secondary, $primary);
    background-clip: button;
    color: transparent;
  }

}

@media(max-width:992px) {
  .course {
    .card {
      margin-bottom: 16px;
    }
  }
}


//share
.share {

  .card:hover {
    .borderRounded {
      width: 32px;
      height: 32px;

      &-topLeft {
        border-top: 1px solid $primary;
        border-left: 1px solid $primary;
        border-top-left-radius: 12px;
      }

      &-topRight {
        border-top: 1px solid $primary;
        border-right: 1px solid $primary;
        border-top-right-radius: 12px;
      }

      &-bottomLeft {
        border-bottom: 1px solid $primary;
        border-left: 1px solid $primary;
        border-bottom-left-radius: 12px;
      }

      &-bottomRight {
        border-bottom: 1px solid $primary;
        border-right: 1px solid $primary;
        border-bottom-right-radius: 12px;
      }

    }
  }

}


//goal
.goal {
  .bgGoal {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 615px;

    .text-hover {
      opacity: .5;
    }

    &-img01 {
      background-image: linear-gradient(rgba($gray-800, 0.9)),
        url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
    }

    &-img02 {
      background-image: linear-gradient(rgba($gray-800, 0.9)),
        url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
    }

    &-img03 {
      background-image: linear-gradient(rgba($gray-800, 0.9)),
        url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
    }

    &-img04 {
      background-image: linear-gradient(rgba($gray-800, 0.9)),
        url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
    }

    &-img01 {
      &:hover {
        background-image: linear-gradient(rgba(transparent, 0)),
          url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info01.jpg);
        color: $primary;
        opacity: 1;

        .text-hover {
          opacity: 1;
          color: $white;
        }
      }

    }

    &-img02 {
      &:hover {
        background-image: linear-gradient(rgba(transparent, 0)),
          url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info02.jpg);
        color: $primary;
        opacity: 1;

        .text-hover {
          opacity: 1;
          color: $white;
        }
      }

    }

    &-img03 {
      &:hover {
        background-image: linear-gradient(rgba(transparent, 0)),
          url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info03.jpg);
        color: $primary;
        opacity: 1;

        .text-hover {
          opacity: 1;
          color: $white;
        }
      }

    }

    &-img04 {
      &:hover {
        background-image: linear-gradient(rgba(transparent, 0)),
          url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/info04.jpg);
        color: $primary;
        opacity: 1;

        .text-hover {
          opacity: 1;
          color: $white;
        }
      }
    }

  }

}

//language
.language-border {
  width: 50px;
  border: 2px solid $primary;
}

//feedback
.feedback {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/bg_share.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  .card-rounded {
    margin-bottom: -48px;
    margin-left: -80px;
    background-color: $white;
    color: $gray-300;
    border-radius: 24px;
    border-bottom-left-radius: 0;

  }

  .feedback-icon {
    font-size: 80px;
  }

  .bg-feedback {
    background-color: $gray-900;
    padding: 48px;
    border-radius: 24px;


    span {
      margin-right: 48px;
    }
  }

  .feedback-right {
    z-index: 1000;

    img {
      width: 100px;
      height: 100px;
      border-radius: 100px;

    }
  }

  .feedback-img {
    &::before {
      content: '';
      position: absolute;
      border: 1px solid #6c757d;
      top: 4px;
      left: -4px;
      width: 100%;
      height: 100%;
      display: block;
      z-index: -1;
      border-radius: 24px;
    }

  }

  .feedback-left {

    img {
      border-radius: 24px;
      z-index: 10;
    }

    .feedbackRwd {
      h6 {
        margin-bottom: 0;
      }
    }
  }


  .swiper {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    z-index: 0;


    .swiper-ctrl {
      transform: translateX(-18%);
    }

    .swiper-pagination {
      position: unset;
      width: auto;
      transform: none !important;

      .swiper-pagination-bullet {
        background-color: $primary;
        opacity: initial;

      }

      .swiper-pagination-bullet-active {
        background-color: $primary;
        width: 16px;
        border-radius: 100px;

      }


    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      content: "";
    }

    .swiper-button-next,
    .swiper-button-prev {
      position: unset;
      margin-top: 0;
      color: $primary;
    }

    .swiper-slide {
      text-align: left;
      font-size: 16px;
      background: transparent;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;


    }

    .swiper-slide img {
      display: block;
      object-fit: cover;

    }

  }
}


@media(max-width:992px) {
  .feedback {
    .card-rounded {
      margin-left: 0;
      margin-bottom: 0;
      position: relative !important;
      margin-top: 45px;
    }

    .feedbackRwd {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-right: 0;

      span {
        margin-right: 0;
        margin-bottom: 24px;
      }

      h6 {
        margin-top: 24px;
        margin-bottom: 24px;
      }
    }

    .bg-feedback {
      padding-top: 40px;
      padding-bottom: 40px;
      padding-right: 24px;
      padding-left: 24px;

    }

    .swiper-ctrl {
      transform: translateX(0%) !important;
    }
  }

}

@media(max-width:375px) {
  .feedback-text {
    h3 {
      font-size: 24px;
      line-height: 35px;
    }

    h6 {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

//language
.language {
  .swiper {
    width: 100%;
    height: 20%;
    background-color: $gray-600;
  }

  .swiper .swiper-slide {
    flex-shrink: 1;
    background-color: $gray-600;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    background-color: $gray-600;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}









//footer
.footer {
  background-color: $gray-700;

  p {
    color: $gray-500;
  }
}

@media(max-width:375px) {
  .footer {
    p {
      font-size: 12px;
      line-height: 14px;
    }
  }
}




//font 
.font-mono {
  font-family: 'Azeret Mono', monospace;
}

.fs-48 {
  font-size: 48px;
}

.fs-16 {
  font-size: 16px;
}


//color
.gray-600 {
  background-color: $gray-600;
}

.gray-800 {
  background-color: $gray-800;
}

.bg-black {
  background-color: $black;
}

//card

.card {
  border-radius: 1.33rem;
  background-color: $gray-600;
}

.card-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid $white;
}



//spacer
.pr-6 {
  padding-right: 6px;
}

.mt-56 {
  margin-top: 56px;
}

.mb-37 {
  margin-bottom: 37px;
}

.lh-24 {
  line-height: 24px;
}

.lh-29 {
  line-height: 29px;
}