<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,1,0" />
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">

</head>

<body>
  <header class="header">
    <div class="container">
      <div class="row">
        <div class="d-flex justify-content-between">
          <a href="#"><img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/week6-202207/logo.svg"
              alt="logo"></img></a>
          <ul class="d-flex align-items-center h6 mb-0">
            <li class="header-link"><a href="index.html">首頁</a></li>
            <li class="header-link"><a href="#">課程介紹</a></li>
            <li class="header-link"><a href="page.html">
                <span class="material-icons pr-6">account_circle</span>登入</a></li>
            <li class="header-bar">
              <span class="material-icons" style="color: aqua;">drag_handle</span>
            </li>
          </ul>
        </div>
        <div class="header-rwd">
          <ul class="d-flex flex-column align-items-center w-100 h6 px-0 mb-0">
            <li class="w-100 text-center"><a href="#">首頁</a></li>
            <li class="w-100 text-center"><a href="#">課程介紹</a></li>
            <li class="w-100 text-center"><a href="#">
                <span class="material-icons pe-6">account_circle</span>登入</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="header-border">
    <div class="header-left"></div>
    <div class="header-right"></div>
  </div>

  <%- contents %>

    <footer class="footer">
      <div class="container">
        <p class="font-mono text-center p-4">Coding Home © 2022 All Rights Reserved</p>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <!-- Swiper JS -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/zh-TW.js"></script>
    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.mySwiper', {
        slidesPerView: 5,
        direction: getDirection(),
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },

      });

      function getDirection() {
        var windowWidth = window.innerWidth;
        var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

        return direction;
      }

      var swiper = new Swiper(".mySwiper2", {
        effect: 'fade',
         fadeEffect: {
          crossFade: true,
        },
        pagination: {
          el: ".swiper-pagination",

          clickable: true,
        },
        autoplay: {
          delay: 2500,
          disableOnInteraction: false,
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

      });


      const elem = document.querySelector('input[name="foo"]');
      const datepicker = new Datepicker(elem, {
        // ...options
        language: 'zh-TW',
        buttonClass: 'btn',
      }); 
    </script>
</body>

</html>